{% extends 'base.html' %}

{% block content %}
   <h2>Student List</h2>
   <table class="table table-striped table-hover table-bordered">
      <thead>
         <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Pincode</th>
         </tr>
      </thead>
      
      {% for row in students %}
         <tr>
            <td>{{loop.index}}</td>
            <td>{{row["name"]}}</td>
            <td>{{row["addr"]}}</td>
            <td>{{row["city"]}}</td>
            <td>{{row['pin']}}</td>	
         </tr>
      {% endfor %}
   </table>
{% endblock %}
